@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --background-color: #ffffff;
  --primary-color: #393939;
  --secondary-color: #777777;
  --lighter-color: #d4d4d4;
  --accent-color: #ffbf00;
  --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  --switch-color: #ffbf00;
  --switch-color-bg: #ffffff;
  --footer-bg-color: #393939;
  --footer-color: #fdfcfc;
  --modal-overlay-color: rgba(0, 0, 0, 0.4);
  --modal-bg-color: #fdfcfc;
  --modal-color: #393939;
}

[data-theme='dark'] {
  --background-color: #393939;
  --primary-color: #ffffff;
  --secondary-color: #e5e5e5;
  --lighter-color: #5e5d5d;
  --accent-color: #ffbf00;
  --footer-bg-color: #5e5d5d;
  --footer-color: #e5e5e5;
  --modal-bg-color: #5e5d5d;
  --modal-color: #ffffff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  min-height: 100vh;
}

h4,
p,
small,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  color: var(--secondary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

section {
  padding: 0 2rem;
  position: relative;
}

section > p {
  margin: 0 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--lighter-color);
}

.moon {
  width: 1.5rem;
  position: absolute;
  top: 6px;
  left: 8px;
  cursor: pointer;
  z-index: 102;
}

.sun {
  width: 1.5rem;
  position: absolute;
  top: 8px;
  right: 6px;
  cursor: pointer;
  z-index: 102;
}

.menu-btn {
  cursor: pointer;
  z-index: 101;
  width: 3rem;
  display: none;
}

.menu-btn-cross {
  cursor: pointer;
  z-index: 101;
  width: 2rem;
  display: none;
}

.menu-btn-show {
  display: inline-block;
}

.nav {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  height: 100vh;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.nav a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 1rem 0;
  padding: 0.5rem 0;
  font-family: 'Poppins', 'sans-serif';
  width: 100%;
}

.nav a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.nav-visible {
  visibility: visible;
}

.lang-switch {
  background-color: transparent;
  border: none;
  width: 2rem;
  font-size: 2rem;
  font-family: 'Poppins', 'sans-serif';
  cursor: pointer;
  color: var(--accent-color);
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dot {
  color: var(--accent-color);
}

.marker {
  position: absolute;
  bottom: 0;
}

.down-arrow {
  position: absolute;
  bottom: 5rem;
}

.down {
  width: 4rem;
  border-radius: 50%;
  border: 0 solid var(--accent-color);
}

.down:hover {
  border-width: 2px;
  padding: 0.5rem;
  transition: 0.4s;
}

.profile-img {
  margin-top: 2rem;
}

.about p:first-of-type {
  margin-bottom: 1rem;
}

.quote p:first-of-type {
  margin-bottom: 0.5rem;
}

.quote p:nth-of-type(2) {
  font-style: italic;
}

.quote small {
  color: var(--accent-color);
}

.quote {
  margin-bottom: 3rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
  cursor: pointer;
  width: 100%;
  position: relative;
  height: 18rem;
}

.project {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.project:hover {
  background-color: var(--modal-overlay-color);
  transition: 0.5s;
}

.project-img {
  width: 100%;
  height: 10rem;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  text-align: left;
  padding: 1.5rem 1rem;
}

.project-content h4 {
  margin-bottom: 0.5rem;
}

.contacts p {
  margin: 0 1rem;
}

.contacts p:first-of-type {
  margin-bottom: 1rem;
}

.contacts p:nth-of-type(2) {
  margin-bottom: 3rem;
}

.socials {
  margin-bottom: 5rem;
}

.socials img {
  margin: 0 1rem;
  width: 3.5rem;
  border-radius: 50%;
  border: 0 solid var(--accent-color);
}

.socials img:hover {
  border-width: 2px;
  padding: 0.5rem;
  transition: 0.4s;
}

footer {
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

footer p {
  color: var(--footer-color);
  font-size: 0.8rem;
}

footer details {
  color: var(--footer-color);
  font-size: 0.8rem;
  font-family: 'Roboto', 'sans-serif';
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 201;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-overlay-color);
}

.modal-content {
  background-color: var(--modal-bg-color);
  color: var(--modal-color);
  margin: 0 auto;
  padding: 0 1rem;
  width: 90%;
  position: relative;
}

.cross {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
}

.modal-content h3 {
  margin: 0;
  padding-top: 6rem;
}

.modal-content h4 {
  margin: 3rem 0 1rem;
  color: var(--modal-color);
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.modal-btn {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 25px;
}

.modal-btn:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  transition: 0.3s;
}

.modal-img {
  display: none;
  width: 80%;
  margin-bottom: 4rem;
}

.modal p a {
  font-weight: 500;
  text-decoration: underline;
}

/* Dark/light theme switch */

.switch {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 101;
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 5px;
  background-color: var(--switch-color-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switch-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hide-icon {
  animation-name: hide-icon;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes hide-icon {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 60%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    opacity: 0;
  }
}

.show-icon {
  animation-name: show-icon;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes show-icon {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 30%;
  }
  50% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}

/* media queries */

@media screen and (min-width: 450px) {
  .project-img {
    height: 12rem;
  }

  .project-container {
    width: 80%;
    height: 21rem;
  }

  .profile-img {
    width: 20rem;
  }
}

@media screen and (min-width: 750px) {
  .project-container {
    width: 70%;
  }

  .modal-content {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socials img {
    margin: 0 2rem;
  }

  .modal-buttons {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }

  .modal-btn {
    width: 12rem;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .menu-btn {
    display: none;
  }

  .nav {
    visibility: visible;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-top: 0;
    position: static;
  }

  .nav a {
    font-size: 1.5rem;
    text-transform: initial;
    margin: 0;
  }

  .about,
  .projects,
  .contacts {
    padding: 0 8rem;
  }

  .modal-content {
    width: 80%;
    padding: 0 6rem;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .about-content {
    width: 50%;
    margin-right: 3rem;
    text-align: left;
  }

  .about-content h3 {
    margin-top: 0;
  }

  .profile-img {
    width: 30rem;
  }

  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .project-container {
    width: 21rem;
  }

  .project-img {
    height: 14rem;
  }

  .socials {
    margin-top: 4rem;
  }

  .socials img {
    margin: 0 3rem;
  }

  .modal-img {
    display: inline-block;
  }
}

@media screen and (min-width: 1500px) {
  h2 {
    font-size: 7rem;
  }

  h3 {
    margin-top: 10rem;
  }

  .header {
    padding-left: 2rem;
  }

  .nav {
    width: 40%;
  }

  .about-content {
    width: 25%;
    margin-right: 10rem;
  }

  .modal-content h3 {
    padding-top: 8rem;
    margin-bottom: 2rem;
  }

  .modal-content p {
    margin: 1rem 0 2rem 0;
    width: 80%;
  }

  .modal-buttons {
    margin-bottom: 2rem;
  }

  .projects-container {
    width: 80%;
  }

  .socials {
    margin-bottom: 8rem;
  }
}
